/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}


/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: #ffffff;    /* achtergrondkleur lichtgrijs */
  color: #ffffff; /* tekstkleur donkergrijs */
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}


/* Indeling voor alle pagina's */

.page {
  width: 800px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
} 

p {
  margin: 10px 0px  ;    
  background-color: rgba(0,0,0,0.5);
  text-align: justify;
  padding:10px;
  
}
.page_1_kopje_2 {
  margin: 10px 0px  ;    
  background-color: rgba(0,0,0,0.5);
  padding:10px;
}
/* Indeling voor hoofd pagina */

.kolomLinks {
  float:left;
  width:250px;
  padding-right:15px;           /* afstand tussen plaatje en rechterkolom */
}
.kolomRechts {
  float:left;
  width: 450px;
}
.kolomStop {
  clear:both;                   /* stop met floaten */
}

/* Opmaak voor alle pagina's */

h2, h3 {
      color: red;
}

.belangrijk2 {
  color:k#f5d400;
}

.modellenh1 {
  color: #f5d400;
}

.belangrijk {
  color: red;
}

.eerste {
  background-image: url("afbeeldingen/Ferrari-Logo-3.jpeg");
  background-position: left;
  background-repeat: repeat;
}

.tweede {
  background-image: url("afbeeldingen/ferrari-logo\ 2.jpeg");
  background-position: center;
}

.derde {
  background-image: url("afbeeldingen/DSC08187.jpg");
  background-position: center;
  background-size: cover;
}

.vierde {
  background-image: url("afbeeldingen/Ferrari\ Logo\ Background\ 2.jpg");
  background-position: center;
}

.Derde-foto-1 {
  height: 260px;
  padding-top: 30px;
  float:left;
}
.modelfotos-links {
    float:top-right;
  margin-left: 20px;
}

.Derde-foto-2 {
  height: 258px;
  padding-top: 22px;
  float: right ;
}

.Derde-foto-3 {
  height: 260px;
  padding-top: 30px;
  float:left;
}

.Derde-foto-4 {
  height: 340px;
  padding-top: 70px;
  float:right;
}
.smalltext {
    text-align: center;
    font-size: 0.9em;
  color: white;
}
.Derde-foto-1-2 {
  height: 251px;
  float: center;
  padding-left: 220px;
}

.Derde-foto-2-2 {
  height: 245px;
  float: center;
  padding-left: 220px;
}

.Derde-foto-3-2 {
  height: 245px;
  float: center;
  padding-left: 220px;
}

.Derde-foto-4-2 {
height: 266px;
  float: center;
  padding-left: 220px;
}

.SF90EIND {
  height: 245px;
  float: center;
  padding-left: 220px;
}

.Klassiek-2 {
height: 250px;
float: right;
}

.Klassiek-3 {
  float: center;
  padding-left: 163px;
}

.p-klassiek {
margin-top: 40px;
  margin-right: 10px;
}

.klassiek{
  height: 276px;
  float: center;
  padding-left: 220px;
}

.sf90foto {
  height: 500px;
float: center;
  margin-left: 25px;
}

.sf90laatste {
  padding-left: 160px;
}

a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Navigatiebalk voor alle pagina's */
nav {
  width: 700px;
  margin: auto;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: #ff0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ffdd00;
}

nav li a.active {
    background-color: #ffffff;
}
